pycache/
*.py[cod]
*$py.class
*.so
*.dll
*.dylib
vendor/
libs/
build/
dist/
.eggs/
*.egg-info/
*.egg
wheels/
sdist/
.venv/
venv/
env/
ENV/
.env/
*.env
.env.
.envrc
.tox/
.nox/
.pytest_cache/
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
htmlcov/
.hypothesis/
.ipynb_checkpoints
/.ipynb_checkpoints/
profile_default/
ipython_config.py
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
*.exe
*.app
*.msi
build/
dist/
.python-version
.pdm.toml
.pdm-python
.poetry-cache/
.poetry/
.vscode/
.idea/
*.code-workspace
*.sublime-Project
*.sublime-workspace
.DS_Store
Thumbs.db